*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-btn-blue: #0061FF;
    --lgt-blue: #B4D0E7;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --green-logo: #A2D39B;
    --green-logo-border: #D1E9CD;
    --amaranth-logo: #61082B;
    --lgt-blue-logo: #0093CE;
    --red-logo: #FF1C1C;
    --red-logo-2: #D5001F;
    --blue-logo: #0D2481;
    --yellow-logo: #FFD830;
}

/* <i class="fa-solid fa-earth-americas"></i> */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.debug{
    border: 1px solid red;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-black);
}
/* header */
nav{
    background-color: var(--text-white);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    border-bottom: 1px solid lightgray;
}

nav li{
    padding: 0 20px;
}

span a{
    color:var(--text-white);
}

#login{
    padding: 5px 10px;
}
/* main */
main{
    background-color: var(--text-white);
}
/* hero */
#hero{
    margin-top: 80px;
}
h1{
    font-size: 5rem;
    font-weight: bold;
    padding-top: 80px;
}
.text-hero{
    width: 30%;
    position: relative;
    padding-top: 70px;
}

.text-hero i{
    font-size: 3rem;
    padding-bottom: 10px;
}

.img-hero{
    width: 70%;
}

.text-photo img{
    width: 100%;
    position: relative;
    bottom: -70px;
}
/* plans */
h2{
    font-size: 2.5rem;
    margin: 40px 0;
}

label{
    padding-right: 40px;
}
fieldset{
    border: none;
    margin-bottom: 50px;
}
.plans-title{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.plans-title i{
    padding-right: 5px;
}

.plan{
    border: 1px solid lightgray;
    width: calc((100% / 3) - 30px);
}
h3{
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.plan p{
    padding-bottom: 20px;
}

.plans-body-buy span{
    margin-bottom: 30px;
}

#buy-now{
    text-decoration: underline;
    color: blue;
}
h4{
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.plans-body-bottom i{
    color: var(--bg-btn-blue);
}

.plans-body-bottom li{
    padding: 15px 0;
}

.team-card{
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 50px;
}

.btn-contact{
    position: relative;
    bottom: -35px;
}

/* partner */
.photo-partner{
    width: 60%;
}
.photo-partner img{
    width: 100%;
}
.text-partner{
    width: 40%;
    padding: 50px 45px;
}
.text-partner p{
    margin-bottom: 50px;
}

#find-partner{
    padding: 10px 15px;
    border: 1px solid black;
}
#find-partner a{
    color: var(--text-black);
}

/* business */
.card-business-container{
    width: calc(100% / 3);
}
.card-business{
    width: calc(100% / 3);
    padding: 5px 10px;
}
.card-business img{
    width: 100%;
}

/* more */
.more{
    width: 60%;
}
#more a{
    text-decoration: underline;
    color: blue;
}
/* footer */
footer{
    background-color: var(--text-black);
    color: var(--text-white);
}

/* utilities */
.bg-lightblue{
    background-color: var(--lgt-blue);
}

.mb-100{
    margin-bottom: 100px;
}

.btn-blue{
    color: var(--text-white);
    background-color: var(--bg-btn-blue);
    padding: 10px 15px;
}

.text-bold{
    font-weight: bold;
}

.content-center{
    display: flex;
    justify-content: center;
}
.d-flex-col{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.p-top30-right20{
    padding: 20px 20px;
}

.grey-text{
    color: grey;
}

.small-text{
    font-size: 0.9rem;
}