*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-btn-blue: #0061FF;
    --lgt-blue: #B4D0E7;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --green-logo: #A2D39B;
    --green-logo-border: #D1E9CD;
    --amaranth-logo: #61082B;
    --lgt-blue-logo: #0093CE;
    --red-logo: #FF1C1C;
    --red-logo-2: #D5001F;
    --blue-logo: #0D2481;
    --yellow-logo: #FFD830;
}

html{
    scroll-behavior: smooth;
}
/* <i class="fa-solid fa-arrow-down"></i>
<i class="fa-solid fa-users"></i>
<i class="fa-solid fa-user"></i>
<i class="fa-solid fa-folder"></i>
<i class="fa-solid fa-share-nodes"></i>
<i class="fa-solid fa-check"></i>
<i class="fa-solid fa-building"></i>
<i class="fa-solid fa-earth-americas"></i> */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.debug{
    border: 1px solid red;
}

.d-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-black);
}
/* header */
nav{
    background-color: var(--text-white);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    border-bottom: 1px solid lightgray;
}

nav li{
    padding: 0 20px;
}

span a{
    color:var(--text-white);
}

#login{
    padding: 5px 10px;
}
/* main */
main{
    background-color: var(--text-white);
}

#hero{
    margin-top: 80px;
}
h1{
    font-size: 5rem;
    font-weight: bold;
    padding-top: 80px;
}
.text-hero{
    width: 30%;
    position: relative;
    padding-top: 70px;
}

.text-hero i{
    font-size: 3rem;
    padding-bottom: 10px;
}

.img-hero{
    width: 70%;
}

.text-photo img{
    width: 100%;
    position: relative;
    bottom: -70px;
}
/* footer */
footer{
    background-color: var(--text-black);
    color: var(--text-white);
}

/* utilities */
.bg-lightblue{
    background-color: var(--lgt-blue);
}

.mb-100{
    margin-bottom: 100px;
}

.btn-blue{
    color: var(--text-white);
    background-color: var(--bg-btn-blue);
    padding: 10px 15px;
}


.d-flex-col{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}